<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<form method="post" action="{{ url_for('login') }}">
			<div class="form-group">
				<input type="text" name="userId" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" name="passWord" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" value="ログイン" class="btn btn-primary">
			</div>
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="static/js/bootstrap.bundle.min.js"></script>
	</div>
</body>
</html>